.admin_box{
  border-left: 1px solid #E6ECF0;
  &-title{
    padding: 14px 27px;
    border-bottom: 1px solid #E6ECF0;
  }
  &_wrap{
    height: calc(100vh - 55px);
    overflow: scroll;
    &-item{
      padding: 18px 15px;
      & + .admin_box_wrap-item{
        border-top: 1px solid #E6ECF0;
      }
    }
    &-title{
      h5{color: var(--dark-100)}
      color: #657786;
    }
    &-content{
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.card-wrap{
      display: grid;
      grid-template-columns: repeat(auto-fit, 245px);
      gap: 15px;
      padding: 15px;
      height: calc(100vh - 55px);
      overflow: scroll;
    }
  }

  .tweet-delete-btn{
    color: #657786;
    cursor: pointer;
  }

  // 
  &-item{
    &.card{
      background-color: #F6F7F8;
      border-radius: 10px;
      overflow: hidden;
      font-size: 15px;
      min-height: 314px;
      .admin-account{
        color: #657786;
      }
    }
    &-banner{
      height: 140px;
      overflow: hidden;
    }
    &-avatar{
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #F6F7F8;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:68px;
    }
    &-body{
      padding: 21px 0px;
      
    }
    &-actions{
      padding-top: 15px;
      padding-bottom: 15px;
      span{font-size: 15px;}
      .icon{
        width: 19.75px;
        height: 19.75px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        &.reply{
          background: var(--icon-comment);
        }
        &.liked{
          background: var(--icon-liked);
        }
      }
    }
    &-footer{
      span{color: var(--dark-100);}
      .following,.followers{
        color: #657786;
      }
    }
  }
}

