:root{
  --brand-color: #FF6600;
  --primary-color: #0062FF;
  --secondary-color: #6C757D;
  --success-color: #3DD598;
  --warning-color: #FFC542;
  --error-color: #FC5A5A;
  --secondary-blue: #50B5FF;
  --border-bottom: 2px solid #657786;
}