.modal{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(23,23,37, 40%);
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  &_container{
    width: 100%;
    height: 100vh;
    background: var(--dark-0);
    &-header{
      border-bottom: 1px solid #E6ECF0;
      padding: 19px 18px;
    }
  }

  .cancel-btn{
    .close{display: none;}
    .back{color: var(--dark-100);}
  }
  &.show{
    pointer-events: all;
    opacity: 1;
  }

  .btn{
    display: none;
    &.mobile{display: block;}
  }
}

.tweet_list-box{
    padding: 24px 16px;
    flex-direction: column;
    height: 90vh;
    textarea{
      min-height: 211px;
      border-width: 0px;
      font-size: 18px;
      resize: none;
      &::placeholder{
        font-size: 16px;
        font-weight: regular;
        color: var(--secondary-color)
      }
    }
  &.reply{
    padding: 15px 24px;
 }
}

.input-length{
  color: var(--dark-80);
  &.error{
    color: var(--error-color)
  }
}

@media(min-width:992px){
  .modal{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(23,23,37, 40%);
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  &_container{
    width: 634px;
    height: auto;
    transform: translateY(56px);
    background: var(--dark-0);
    border-radius: 14px;
    &-header{
      border-bottom: 1px solid #E6ECF0;
      padding: 19px 18px;
    }
  }

  .cancel-btn{
    .close{display: block;}
    .back{display: none;}
  }
  &.show{
    pointer-events: all;
    opacity: 1;
  }

  .btn{
    display: block;
    &.mobile{display: none;}
  }
}

.tweet_list-box{
    padding: 24px 16px;
    flex-direction: column;
    height: auto;
    textarea{
      border-width: 0px;
      min-height: 211px;
      font-size: 18px;
      resize: none;
      &::placeholder{
        font-size: 16px;
        font-weight: regular;
        color: var(--secondary-color)
      }
    }
  &.reply{
    padding: 15px 24px;
 }
}

.input-length{
  color: var(--dark-80);
  &.error{
    color: var(--error-color)
  }
}
}

@media(min-width: 992px){

}